* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #9e879d, #a73e9e44);
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #fff;
}

.foto {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
  border: 2px solid #fff;
}

.mensagem {
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.5;
}

.contador {
  font-weight: bold;
  font-size: 1rem;
  margin-top: 10px;
}
